NEXT_PUBLIC_TINA_CLIENT_ID=00348ba6-5f9f-475c-8bfe-1588980761f8

# These are used in conjunction with a Cloudinary account for media asset management
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dokuarhtk
NEXT_PUBLIC_CLOUDINARY_API_KEY=239626773745449
CLOUDINARY_API_SECRET=Rb3AA6c65ZjeCYEjc58GXU_0I_I

NEXT_PUBLIC_HIDE_EDIT_BUTTON=0 
